* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

#mainContainer {
    padding: 10px;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#mainLeft{
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#mainRight{
    width: 60%;
}

#profileContainerDiv {
    height: 300px;
    background-color: rgb(206, 123, 114);
    border-radius: 10px;
    padding: 10px;
}

#workoutsContainerDiv {
    height: 85%;
    background-color: rgb(196, 94, 83);
    border-radius: 10px;
    padding: 10px;
}

#postsMainPageContainerDiv{
    background-color: rgb(207, 203, 203);
    border-radius: 10px;
    height: 100%;
    padding: 10px;
}

#headshot {
    width: 150px;
    border-radius: 25%;
}

.section-headers {
    /* font-size: 28px; */
    color: rgb(206, 123, 114); 
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* FormStyles.css */

/* Form container */
.form-container {
    display: flex;
    flex-direction: row; /* Display everything in a row */
    width: 90%;
    max-width: 800px; /* Adjust the width as needed */
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    gap: 10px;
}
  
/* Form elements container */
.form-elements {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow the elements to expand to fill the remaining space */
    padding: 10px;
}
  
/* Form labels */
.form-label {
    font-weight: bold;
    margin-bottom: 8px;
}
  
/* Select box */
.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
/* Textarea */
.form-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}
  
/* Submit button */
.form-button {
    background-color: rgb(196, 94, 83);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
/* Submit button hover effect */
.form-button:hover {
    background-color: rgb(206, 123, 114);
}

/* Post styles */
#postsMainPageContainerDiv ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none; /* Remove default list bullet */
    padding: 0; /* Remove default list padding */ 
    max-height: 100vh;
    overflow-y: scroll;
}

.post-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
  
.post-list-item strong {
    color: rgb(206, 123, 114); /* Style the "strong" text in a different color */
    font-weight: bold;
}

#post-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post-delete-button, .post-edit-button {
    width: 30px;
    height: 30px;
    font-weight: bold;
    color: white;
    background-color: rgb(196, 94, 83);
    border-color: rgb(196, 94, 83);
    border-radius: 5px;
}

.post-delete-button:hover, .post-edit-button:hover {
    cursor: pointer;
    background-color: rgb(206, 123, 114);
}

/* Workout styles */
.workout-list-item {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#workoutsContainerDiv ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none; /* Remove default list bullet */
    padding: 0; /* Remove default list padding */ 
}
  
.workout-list-item:hover {
    transform: scale(1.03); /* Add a hover effect for a slight zoom-in */
    background-color: #fff; /* White background on hover */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
  
.workout-list-item strong {
    color: rgb(206, 123, 114); /* Style the "strong" text in a different color */
    font-weight: bold;
} 

/* Styles for Selected Workout Section */
.selected-workout {
    width: 96%;
    margin: 0 auto;
}

/* Style the strong tags for emphasis */
.selected-workout p strong {
    color: rgb(196, 94, 83);
}
  
/* Style the workout details */
.selected-workout p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
    
/* Style the sets and reps in the program */
.selected-workout span.sets-reps {
    font-weight: bold;
    color: rgb(196, 94, 83);
}

.edit-form-textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}
  
/* -------------------LOGIN/SIGNUP------------------ */
.login-signup-page {
    background-image: linear-gradient(to right bottom, #defced, #caf6f3, #beeffb, #bfe5ff, #cbd8ff, #d2d5fe, #d9d2fd, #e1cffa, #dbd7fe, #d8deff, #d7e5ff, #daebff);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.signup-form-container,
.login-form-container {
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.5);
    bottom: 70px;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.login-form input,
.signup-form input {
    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 20px
}

.login-signup-submit {
    border-radius: 20px;
    border: none;
    width: 150px;
    margin: 0 auto;
    height: 40px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    background-color: royalblue;
    color: white;
    font-size: 1rem;
}

.login-signup-submit:hover {
    background-color: rgb(32, 62, 154);
    font-size: 1.1rem;
} 

.greeting-div {
    text-align: center;
    font-family: sans-serif;
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-signup-toggle {
    margin-top: 30px;
    color: rgb(32, 62, 154);
    font-size: 1.1rem;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    text-align: center;
    align-content: center;
}

.login-signup-toggle:hover {
    font-size: 1.2rem;
}

.greeting {
    font-size: 50px;
}

.fit {
    color: #ff8e31;
}

.connect {
    color: #5b6164;
}

.sub-greeting {
    color: #5b6164;
    font-weight: 400;
    letter-spacing: 0.5px;
}